<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>959053079713-igknun345f8ltml4vpp4c9hbqlmh29kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959053079713-igknun345f8ltml4vpp4c9hbqlmh29kl</string>
	<key>API_KEY</key>
	<string>AIzaSyCyS6glblOe1Wdj-FU7l-iFiKY0mruxYjI</string>
	<key>GCM_SENDER_ID</key>
	<string>959053079713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thienly.moviesbookingticket</string>
	<key>PROJECT_ID</key>
	<string>moviesticket-31df6</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesticket-31df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959053079713:ios:efe9a4087f10db87</string>
	<key>DATABASE_URL</key>
	<string>https://moviesticket-31df6.firebaseio.com</string>
</dict>
</plist>